<section>
  <div>
    <div class="container">
      <h2 class="display-4 text-center text-secondary">{{post.title}}</h2>
      <img src="{{post.image}}" class="img-fluid rounded mx-auto d-block head-img">
      <p class="col-8 text-center lead">{{post.content_box}}</p>
      <p class="font-weight-light text-right">Author: {{post.user.username}}</p>
      {{!-- <p class="font-weight-light text-right">Date Created:{{post.date_created}}</p> --}}
    </div>
  </div>
</section>
<section class="text-center">
  <div class="card col-md-6 p-3 m-3">
   
    {{!-- iterates and post every comment related to that specific post --}}
    {{#each post.comments as |comment|}}
    <div class="card-body">
      {{comment.content}}
    </div>
    <div class="card-header">
      <p class="font-weight-light">-{{comment.user.username}}</p>
    </div>
    {{/each}}
  </div>
  {{!-- Conditional statement: can only see form to submit new comment if logged in --}}
  {{#if logged_in}}
  <p class="font-weight-light">Create a new comment:</p>
  <input id="commentBox" class="card-header"></input>
  <div id="postId" class="card-body"></div>
  <div>
  <button id="submitComment" class="btn btn-sm my-2 col-3 float-right" type="submit">submit comment</button>
  </div>
  {{/if}}
</section>

<script src="/js/add-comment.js"></script>