<article>
    <a href="/new-post"> &larr; Go to New-Post</a>
    <h2>
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <input name="post-title" type="text" value="{{title}}" />
        </div>
        <div>
            <textarea name="post-text">{{content_box}}</textarea>
        </div>
        <div>
            You posted on {{format-date date_created}}

            <a href="/post/{{post.id}}">{{post.comments.length}} {{format-plural "comment" post.comments.length}}</a>
        </div>
        <button class="btn mx-2 my-6">Create Post</button>
    </form>
</article>
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>
    <div>
        <button type="submit">submit comment</button>
    </div>
</form>

{{ comments post.comments }}


<script src="/js/edit-post.js"></script>
<script src="/js/comment.js"></script>