   <div class="container">
        <div class="row p-5">
          {{#each post as |post|}}
          <div class="col p-5">
            <div class="media">
              <img class="mr-3" src="{{image}}" alt="Generic placeholder image" height="300" width="300">
            <div class="media-body">
              <h5 class="mt-0">Post 1</h5>
              <p class="font-weight-light">Author:{{user_id.username}}</p>
              <p class="font-weight-light">Date Created:</p>
            </div>
            </div>
          </div>
          {{!-- <div class="col p-5">
            <div class="media">
             <img class="mr-3" src="{{image_link}}" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Post 2</h5>
              <p class="font-weight-light">Author:{{user_id.username}}</p>
              <p class="font-weight-light">Date Created:</p>
            </div>
           </div>
          </div>
          <div class="w-100"></div>
          <div class="col p-5"><div class="media">
              <img class="mr-3" src="{{image_link}}" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Post 3</h5>
              <p class="font-weight-light">Author:{{user_id.username}}</p>
              <p class="font-weight-light">Date Created:</p>
            </div>
          </div>
        </div>
          <div class="col p-5">
            <div class="media">
              <img class="mr-3" src="{{image_link}}" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0">Post 4</h5>
              <p class="font-weight-light">Author:{{user_id.username}}</p>
              <p class="font-weight-light">Date Created:</p>
            </div>
          </div>
        </div> --}}
          {{/each}}
      </div>
    </div>